.footer-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#dash-col {
  padding: 0 15px 0 0 !important;
  margin: 0 !important;
}

#dash-col:last-child {
  padding-right: 0 !important;
}

.dash-card {
  background-color: var(--cs-dark-blue);
  padding: 12px 14px;
  border-radius: 10px;
  color: white;
}

.mini-card-img {
  border-radius: 10px;
  height: 40px;
  margin-bottom: 5px;
}

.title {
  display: block;
  color: #D7D9DF;
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 5px;
}

.value {
  font-weight: 900;
  font-size: 1.4em;
}

.stats {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-weight: 500;
  font-size: 0.85em;
  margin: 0;
}

.up {
  color: rgb(3, 164, 3);
}

.down {
  color: rgb(204, 6, 6);
}


@media screen and (max-width: 1024px) {
  .title {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 991.5px) {
  #dash-col {
    margin-bottom: 5px !important;
    padding: 0 !important;
  }

  #dash-col:last-child {
    margin-bottom: 0 !important;
  }
}